body {
  height: 600px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #13808c;
  color:white;
}

.contact {
  position: fixed;
  width: 80%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #13808c;
  border: 3px solid rgb(252,160,0);
  border-radius: 10px;
  padding: 25px;
  margin-top: 30px;
  text-align: center;
  box-shadow: 0 0 13px 0px #000;
}


.emailForm label {
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
  color: white;
  width: 47%;
}

.emailForm textarea {
  font-family: Arial, Helvetica, sans-serif;
  box-shadow:0px 0px 8px  black;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 15px;
  width: 100%;
  height: 30vh;
  resize: none;
  color: rgb(90,90,90);
  border: 3px solid rgb(252,160,0);
  border-radius:  10px;
  transition: 0.2s ease-in-out;

}

textarea:focus, input:focus{
    outline:none;    
    box-shadow:0px 0px 15px  black;
    transition: 0.2s ease-in-out;

}

@media (min-width: 768px) {
    .emailForm textarea {
        height: 30vh;
    }
}

@media (max-height: 670px) {
    .emailForm textarea {
        margin: 0;
        height: 15vh;
    }
}

.emailForm input {
    width: 100%;
    border-radius:  10px;
    color: rgb(90,90,90);
    margin-top: 5px;
    border: 3px solid rgb(252,160,0);
    box-shadow:0px 0px 8px  black;
    transition: 0.2s ease-in-out;

}

.emailForm input:focus{
    box-shadow:0px 0px 15px  black;
    transition: 0.2s ease-in-out;
}

.emailForm button[type=submit], .close-btn{
  width: 10%;
  box-shadow:0px 0px 8px  black;
  cursor: pointer;
  padding:1rem;
  margin-top: 15px;
  color: white;
  background-color: #13808c;
  border: 3px solid white;
  border-radius:1rem;
  text-decoration: none;
}

.emailForm button[type=submit]:hover{
    background-color: rgb(252,160,0);
    transition: 0.5s;
    border-color: rgb(252,160,0);
}

a:link,a:visited{
    color:white;
    text-decoration: none;
}

.g-recaptcha {
  display: flex;
  justify-content: center;
}

@media (max-width: 375px) {
  .g-recaptcha {
    transform: scale(.77);
  }
}

.emailFormAlert {
  color: red;
  margin-top: 5px;
  height: 20px;
  font-size: 1.1em;
}

.contact .close-btn:hover {
  cursor: pointer;
  outline: none;
  background-color: rgb(252,160,0);
  transition: 0.5s;
  border-color:rgb(252,160,0)   
}

@media (max-height: 465px){
  .contact {
    height: 85vh;
    margin-top: 40px;
    overflow: auto;
  }
  .emailForm textarea {
    height: 20vh;
  }
}