*{
    margin:0;
    padding:0;
    text-align: center;
    font-family:poppins-semibold,poppins,sans-serif;
}
body{
    height: 350vh;
    position: relative;
    background-color: #13808c;
}
body::-webkit-scrollbar{
    width:0;
}
header{
    z-index: 10;
    position: fixed;
    display: flex;
    width: 100%;
    font-size: 12px;
    font-family:poppins-semibold,poppins,sans-serif;;
    color: white;
    height: 60px;
    flex: auto;
}
header div.logo{
    position: absolute;
    display: flex;
    height:100%;
    width: 20%;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex: auto;
}

header .high-nav{
    position: absolute;
    display: flex;
    top: 0;
    width: 80%;
    right:0;
    height: 100%;
    overflow: hidden;
    border-bottom-left-radius: 1rem;
    flex: auto;
    align-items: center;
    justify-content:space-around;
}

.filler{
    border-bottom-left-radius: 1rem;
    position: absolute;
    background-color: #13808c;
    box-shadow: 0px 0px 40px black;
    z-index: 0;
    top:0;
    right:0;
    width:80%;
    height:100%;
}

.fillerUno{
    border-bottom-left-radius: 1rem;
    position: absolute;
    background-color: #13808c;
    box-shadow: 0px 0px 40px black;
    z-index: 0;
    top:0;
    right:0;
    width:100%;
    height:100%;
}

header .high-nav a{
    transition: 0.3s;

}

header .high-nav a.start{
    text-align: center;
    padding:10px;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid white;
    border-radius: 6px;
}
.high-nav .bttn-about:hover , .high-nav .bttn-home:hover, .high-nav .bttn-reasons:hover{
    color:rgb(252,160,0);
    transition: 0.3s;
    transition-timing-function: ease-in;
    cursor:pointer;
}
.high-nav .start:hover{
    background-color:rgb(252,160,0);
    border-color: rgb(252,160,0);
    color:white;
    transition: 0.3s;
    transition-timing-function: ease-in;
    cursor:pointer;
}

.nav{
    display: flex;
}

#lang{
    width:2rem;
    position: absolute;
    right:5px;
    top:5px;
    margin: 1rem 0;
    border-radius: 1rem;
    transition: 1s ease-out;
}

#lang:hover{
    background-color: rgb(138,138,138);
    border-radius: 0.4rem;
    transition: 1s ease-in-out;
}

.hidden{
    opacity: 0;    
}

div#first{
    position: absolute;
    color:white;
    text-shadow: 0px 5px 10px black;
    z-index: 0;
    width:100%;
    height: 130vh;
    font-family: sans-serif;
    font-size: 70px;
    text-align: center;
    background-image: url(Images/ppl.jpeg);
    background-size:100%;
    background-position: center;
    background-attachment: fixed;
}
div#first h1{
    margin-top:100px;
    font-size: 60px;
    padding:20px;
}
a{
    text-decoration: none;
    color:white;
}
a:visited{
    color:white;
    text-decoration:none;
}
.logo img{
    height:100%;
    border-radius: 1rem;
}
.logo p{
    font-size: 1rem;
    margin-left:1rem;
    color:white;
    text-shadow: 0px 0px 10px black;
    cursor:default  
}

/*
    Animated arrow
*/
.arrow,
.arrow:before{
  position: absolute;
  left: 50%;
}

.arrow{
    width: 40px;
    height: 40px;
    top: 35vh;
    margin: -20px 0 0 -20px;
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px white solid;
    border-bottom: 2px white solid;
}

  
.arrow:before{
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
    
}
@keyframes arrow{
  0%{
    opacity: 1;
}
  100%{
    opacity: 0;
    transform: translate(-10px, -10px);
}
}
/* 
    End of animation 
*/

footer{
    position: absolute;
    color:white;
    bottom:0;
    box-sizing: border-box;
    width:100vw;
    height: 40vh;
    background-color: #13808c;
    border-top:3px solid rgb(252,160,0);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    box-shadow:0px 0px 8px  black;
}
#firstfoot{
    font-size: 35px;
}
#firstfoot p{
    color: rgb(252,160,0)
}
#gridfoot{
    width:90%;
    position: absolute;
    display: flex;
    left:50%;
    top:70%;
    transform: translate(-50%, -50%);
}
#gridfoot div{
margin:auto;
width:33%;
font-size: 20px;
}
h1#miss{
    text-align: left;
    margin-left:5%;
    padding:0;
}
p#miss{
    text-align: left;
    margin-left:5%;
    font-size: 25px;
}

#second{
display: flex;
position: absolute;
flex-wrap: wrap;
background-color: #13808c;
top:100vh;
height: 100vh;
width:100vw;
justify-content: space-around;
/* box-shadow: 0px 1px 10px 15px #c1c1c1; */
}

#second .reasons{
width:30%;
height:30%;
background-color: #13808c;
margin-top:3rem;
border: 3px solid rgb(252,160,0);
box-shadow:0px 0px 8px  black;
border-radius: 1rem;
display: flex;
justify-content: space-around;
color:white;
}

div.reason-header, div.reason-text{
border:none;
}

.reason-header img{
    width:80%;
    border-radius: 1rem;
}

.reason-header{
width:30%;
font-size: 1rem;
text-shadow: 0px 0px 10px black;
}

.reason-text{
width:70%;
}

#third{
    position: absolute;
    overflow: hidden;
    background-color: #13808c;
    height: 100vh;
    top:200vh;
    left:0;
    width: 97.5vw;
    box-sizing: border-box;
    display: flex;
    border: 3px solid rgb(252,160,0);
    box-shadow:0px 0px 8px  black;
    margin-left: 1.25%;
    border-radius: 2rem;
}

.about1, .about2{
width: 70%;
height: 90%;
background-color: #13808c;
color:white;
box-sizing: border-box;
}

.about1{
    /* border-right: 3px solid; */
    /* border-color: rgb(252,160,0); */
    text-shadow: 0px 0px 5px black;
}

.about1 img{
    width:15rem;
    margin-top: 10%;
}

.about1 p{
font-size: 3rem;
} 
.about2 p{
box-sizing: border-box;
padding:3rem;
}